{% extends "base.html" %}

{% block title %}Daftar Kelas{% endblock title %}
	{% block content %}
				
				<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								Daftar Kelas <a href="{% url 'tambahkelas' %}" class="btn btn-default"><i class="fa fa-plus"></i> Tambah</a>
							</h3>
						</div>
						<div class="box-content nopadding">
							<table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nama Kelas</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for kls in kelas %}
                                    <tr>
                                        <td><a href="{% url 'lihatkelas' kls.id %}">{{ kls.nama }}</a></td>
                                        <td class="text-right">
                                            <a href="{% url 'lihatkelas' kls.id %}" class="btn btn-sm btn-success"><i class="fa fa-search"></i> Lihat</a>
                                            <a href="{% url 'editkelas' kls.id %}" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> Edit</a>
                                            <a href="{% url 'deletekelas' kls.id %}" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> Hapus</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <nav>
                              <ul class="pagination">
                                {% if kelas.has_previous %}
                                <li>
                                  <a href="?page={{ kelas.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                {% endif %}
                                  {{ kelas.page_range }}
                                {% for i in kelas.page_range %}
                                <li><a href="#" {% if kelas.number == i %}class="active"{% endif %}>{{ i }}</a></li>
                                {% endfor %}
                                {% if kelas.has_next %}
                                <li>
                                  <a href="?page={{ kelas.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                                {% endif %}
                              </ul>
                            </nav>
						</div>
					</div>
				</div>
			</div>
	{% endblock content %}
