{% extends "base.html" %}

{% block title %}Bobot Nilai{% endblock title %}
	{% block content %}
				
				<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								Bobot Nilai <a href="{% url 'tambahbobotnilai' %}" class="btn btn-default"><i class="fa fa-plus"></i> Tambah</a>
							</h3>
						</div>
						<div class="box-content nopadding">
							<table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Indeks</th>
                                        <th class="text-center">Bobot</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for nl in nilai %}
                                    <tr>
                                        <td>{{ nl.indeks }}</td>
                                        <td>{{ nl.bobot }}</td>
                                        <td class="text-right">
                                            <a href="{% url 'editbobotnilai' nl.id %}" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> Edit</a>
                                            <a href="{% url 'deletebobotnilai' nl.id %}" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> Hapus</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <nav>
                              <ul class="pagination">
                                {% if nilai.has_previous %}
                                <li>
                                  <a href="?page={{ nilai.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                {% endif %}
                                  {{ nilai.page_range }}
                                {% for i in kelas.page_range %}
                                <li><a href="#" {% if nilai.number == i %}class="active"{% endif %}>{{ i }}</a></li>
                                {% endfor %}
                                {% if nilai.has_next %}
                                <li>
                                  <a href="?page={{ nilai.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                                {% endif %}
                              </ul>
                            </nav>
						</div>
					</div>
				</div>
			</div>
	{% endblock content %}
