{% extends "base.html" %}
{% load form_tags %}
{% block title %}Edit Matakuliah{% endblock title %}

	{% block content %}
				
				<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								<a href="{% url 'matakuliah' %}" class="btn btn-default"><i class="fa fa-chevron-left"></i> Kembali</a>
								Edit Matakuliah
							</h3>
						</div>
						<div class="box-content nopadding">
							<div class="tab-content padding tab-content-inline tab-content-bottom">
								<div class="tab-pane active" id="kelas">
									<form action="{% url 'editmatakuliah' id %}" method="POST" class="form-horizontal">
										{% csrf_token %}
										<div class="row-fluid">
											<div class="span12">
												{{ form.nama|bootstrap_form_group }}
												{{ form.kode|bootstrap_form_group }}
												{{ form.sks|bootstrap_form_group }}
												{{ form.semester|bootstrap_form_group }}
												
												<div class="form-actions">
													<input type="submit" class='btn btn-primary' value="Simpan">
													<input type="reset" class='btn' value="Discard changes">
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	{% endblock content %}
