{% extends "base.html" %}

{% block title %}Daftar Matakuliah{% endblock title %}
	{% block content %}
				
				<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								Daftar Matakuliah <a href="{% url 'tambahmatakuliah' %}" class="btn btn-default"><i class="fa fa-plus"></i> Tambah</a>
							</h3>
						</div>
						<div class="box-content nopadding">
							<table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nama Matakuliah</th>
                                        <th>Kode</th>
                                        <th>SKS</th>
                                        <th>Semester</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for matkul in matakuliah %}
                                    <tr>
                                        <td><a href="{% url 'lihatmatakuliah' matkul.id %}">{{ matkul.nama }}</a></td>
                                        <td>{{ matkul.kode }}</td>
                                        <td>{{ matkul.sks }}</td>
                                        <td>{{ matkul.semester }}</td>
                                        <td class="text-right">
                                            <a href="{% url 'lihatmatakuliah' matkul.id %}" class="btn btn-sm btn-success"><i class="fa fa-search"></i> Lihat</a>
                                            <a href="{% url 'editmatakuliah' matkul.id %}" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> Edit</a>
                                            <a href="{% url 'deletematakuliah' matkul.id %}" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> Hapus</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <nav>
                              <ul class="pagination">
                                {% if matakuliah.has_previous %}
                                <li>
                                  <a href="?page={{ matakuliah.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                {% endif %}
                                  {{ matakuliah.page_range }}
                                {% for i in matakuliah.page_range %}
                                <li><a href="#" {% if kelas.number == i %}class="active"{% endif %}>{{ i }}</a></li>
                                {% endfor %}
                                {% if matakuliah.has_next %}
                                <li>
                                  <a href="?page={{ matakuliah.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                                {% endif %}
                              </ul>
                            </nav>
						</div>
					</div>
				</div>
			</div>
	{% endblock content %}
