{% extends "base.html" %}

{% block title %}Daftar Mahasiswa Kelas {{ kelas.nama }}{% endblock title %}
	{% block content %}
				
				<div class="row-fluid">
				<div class="span12">
					<div class="box box-color box-bordered">
						<div class="box-title">
							<h3>
								<a href="{% url 'kelas' %}" class="btn btn-default"><i class="fa fa-chevron-left"></i> Kembali</a>
								Daftar Mahasiswa Kelas {{ kelas.nama }} 
							</h3>
						</div>
						<div class="box-content nopadding">
							<table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>NIM</th>
                                        <th>Nama Mahasiswa</th>
                                        <th>Jenis Kelamin</th>
                                        <th>Tanggal Lahir</th>
                                        <th>Foto</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mhs in mahasiswa %}
                                    <tr>
                                        <td>{{ mhs.nim }}</td>
                                        <td>{{ mhs.nama }}</td>
                                        <td>{{ mhs.jk }}</td>
                                        <td>{{ mhs.tgl_lahir }}</td>
                                        <td><img src="{{ mhs.foto.url }}" height="100" width="100"></td>
                                        <td><a href="#" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> Edit</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <nav>
                              <ul class="pagination">
                                {% if kelas.has_previous %}
                                <li>
                                  <a href="?page={{ kelas.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                {% endif %}
                                  {{ kelas.page_range }}
                                {% for i in kelas.page_range %}
                                <li><a href="#" {% if kelas.number == i %}class="active"{% endif %}>{{ i }}</a></li>
                                {% endfor %}
                                {% if kelas.has_next %}
                                <li>
                                  <a href="?page={{ kelas.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                                {% endif %}
                              </ul>
                            </nav>
						</div>
					</div>
				</div>
			</div>
	{% endblock content %}
